@charset "utf-8";
/* CSS Document */

form {
	padding: 5px;
	border: outset #374d00 2px;
	border-radius: 10px;
	text-align: center;
	background-color: #becd9a;
	color: #3d5400;
	font-weight: bold;
	font-family: serif;
}

label {
	line-height: .90em;
	font-family: serif;
	text-transform: uppercase;
	margin: 0px;
	padding: 0px;
}

#dndyes + label
{
	text-transform: none;
}

#dndno + label
{
	text-transform: none;
}

.ST {
	color: gray;
}

#formtitle {
	margin-bottom: 0px;
}

.upcoming {
	display: inline-table;
	margin-left: 10px;
	padding-left: 10px;
	min-width: 50%;
	max-width: 70%;
	border-left: outset #517100 5px;
	border-radius: 5px;
}

input, textarea, select {
	background-color: #ece8d4;
	border-radius: 5px;
	margin-top: 0px;
	padding-top: 0px;
	margin-bottom: 10px;
	font-family: serif;
	font-size: 1em;
}

main {
	width: 100%;
}

table {
	width: 100%;
	margin: 0px 20px 0px 20px;
}

.grouptitle {
	text-align: center;
	font-weight: bolder;
	text-transform: uppercase;
	font-family: ferrum;
	color:#374d00;
	font-size: 2em;
	transform: scale(1, 0.7);
	text-shadow: 0px 0px 5px white;
	margin: 0px;
	padding: 0px;
}