@charset "utf-8";

/*                          BODY                          */

body {
	background-color: #e3ddc0;
	font-family: modern antiqua, serif;
	height: 100px;
}

/*                          FONT FAMILIES                          */

    @font-face {
    font-family: 'Ferrum';
    font-style: normal;
    font-weight: normal;
    src: local('Ferrum'),
		url('https://hermes.waketech.edu/~ramizer/fonts/ferrum.ttf') format('TrueType'), url('https://hermes.waketech.edu/~ramizer/fonts/ferrum.woff') format('Woff');
    }

    @font-face {
    font-family: 'ModernAntiqua';
    font-style: normal;
    font-weight: normal;
    src: local('ModernAntiqua'),
		url('https://hermes.waketech.edu/~ramizer/fonts/ModernAntiqua-Book.ttf') format('TrueType');
    }


	@font-face {
	font-family: 'minicaps';
	src: local('minicaps'),
		url("https://hermes.waketech.edu/~ramizer/fonts/minicaps.ttf") format('TrueType');
	}

/*                          OTHER SECTIONS                          */

header {
margin: auto;
text-align: center;
}

main {
margin: auto;
}

.banner {
	width: 65%;
	max-width: 900px;
}

#settingnav {
	background-color: #ece8d4;
	width: 180px;
	border-radius: 10px;
}

.fimgcont {
	text-align: center;
}

.fimg {
	width: 250px;
	border: solid transparent 5px;
	border-radius: 15px;
}

.fimg:hover {
	cursor: zoom-in;
	border: solid #374d00 5px;
}

/*                          LINKS                          */

nav a {
 text-decoration: none;
 font-family: serif;
 font-size: 1.25em;
 color: white;
}

nav a:hover {
 color: lightgoldenrodyellow;
 background-color: #374d00;
}

a {
 text-decoration: none;
 text-transform: uppercase;
 color: #517100;
 font-family: ModernAntiqua;
 font-weight: bold;
 }

.settingnav a:hover {
  background-color: #517100;
  color: white;
}

.smlink {
	font-size: .75em;
	line-height: 1em;
}

.onpage {
	color: lightgoldenrodyellow;
}

.onpage:hover {
	color: white;
	background-color: none;
}

/*                          LISTS                          */

ol, ul {
list-style-type: none;
padding: 0px;
font-family: ModernAntiqua;
	border-radius: 20px;
}

nav ul {
text-align: center;
background-color: #517100;
}

nav li {
display: inline;
text-transform: uppercase;
padding-right: 20px;
font-family: ModernAntiqua;
}

nav:last-child {
display: inline;
text-transform: uppercase;
padding: 0px;
}

.lisub {
	padding: 0px 0px 5px 20px;
}

.lisub a {
	text-transform: uppercase;
	font-size: .80em;
	color: darkgoldenrod;
}

.lisub a:before {
	content: "✦ ";
}

.navhead {
	font-family: Ferrum;
	color: #3d5400;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bolder;
	padding-bottom: 5px;
	text-align: center;
	}

/*                          TABLES                          */

#home {
	margin: 15px auto 0px auto;
	width: 75%;
	border-radius: 10px;
}

.toptd {
	border: outset #9da46e 2px;
	border-radius: 10px;
	background-color: #becd9a;
}

.toptd p {
	padding: 0px 15px 5px 15px;
	text-align: justify;
	font-family: ModernAntiqua;
}

.featpost{
	min-height: 200px;
	width: 35%;
	padding: 0px 5px 0px 5px;
	background-color: #dce3cc;
	border: outset #A5BFA0 2px;
	border-radius: 5px;
	vertical-align: top;
}

.featimg{
	min-height: 200px;
	width: 35%;
	padding: 10px;
	background-color: #dce3cc;
	border: outset #A5BFA0 2px;
	border-radius: 5px;
	vertical-align: top;
}

.events {
	min-height: 200px;
	width: 15%;
	padding: 10px;
	background-color: #dce3cc;
	border: outset #A5BFA0 2px;
	border-radius: 5px;
	vertical-align: top;
}

.profpic {
	border: outset #A5BFA0 2px;
	border-radius: 5px;
	width: 300px;
	margin: 25px 20px 0px 30px;
}

/*                          HEADERS                          */

h1 {
text-align: center;
font-family: ferrum;
text-transform: uppercase;
color: #3d5400;
font-size: 3em;
}

#ex {
color: #517100;
text-shadow: -2px -2px 1px black;
}

h2 {
	text-transform: uppercase;
	text-align: center;
	color: #3d5400;
}

h3 {
	text-transform: uppercase;
	text-align: center;
	font-size: 2em;
	margin-bottom: 0px;
	background-color: #517100;
	color: #dce3cc;
	text-shadow: 2px 2px black;
	border-radius: 10px;
}

h4 {
text-align: center;
font-family: ModernAntiqua;
text-transform: uppercase;
color: #517100;
margin-top: -15px;
}

h5 {
text-align: center;
font-family: ferrum;
text-transform: uppercase;
font-size: 1.25em;
margin: 0px;
padding: 0px;
}

.h6con {
	width: 35%;
	margin: 10px auto 0px auto;
	background-color: #517100;
	border: solid #517100 3px;
	border-radius: 10px;
}

h6 {
text-align: center;
font-family: minicaps;
text-transform: uppercase;
color: white;
font-size: 1.25em;
padding: 0px;
margin: 0px;
}

/*                          TEXT STYLES                          */

p {
	text-align: justify;
}

.explore {
	text-align: justify;
	padding: 0px 35px 0px 35px;
}

.lore {
	text-align: justify;
	margin-top: 0px;
	padding: 0px 35px 1em 35px;
}

.emph {
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	font-family: Ferrum;
	color: #3d5400;
}

.drop {
	float: left;
	font-family: Ferrum;
	font-size: 3em;
	margin-top: -10px;
}

footer p {
	text-transform: uppercase;
	color: #517100;
	font-size: .75em;
	font-weight: bold;
	text-align: center;
}

.date {
	font-family: serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size: .85em;
	text-align: center;
}

.posthead {
	font-family: Ferrum;
	color: #374d00;
	font-size: 1.75em;
	text-transform: uppercase;
	margin-bottom: -10px;
	padding: 0px;
	text-align: center;
}

.eventhead {
	font-family: Ferrum;
	color: #374d00;
	font-size: 1.75em;
	text-transform: uppercase;
	margin-bottom: -10px;
	padding: 0px;
	text-align: center;
}

.postbody {
	font-family: serif;
	padding: 0px 0px 5px 5px;
}

.eventbody {
	font-family: serif;
	text-align: center;
	line-height: 1em;
	font-size: 1.1em;
	margin: 0px;
	padding: 0px;
}