@charset "utf-8";
/* CSS Document */

.map {
	width: 40%;
	text-align: center;
	vertical-align: top;
	padding: 15px;
}

.smallmap {
	width: 100%;
	border: solid transparent 2px;
	border-radius: 10px;
}

.smallmap:hover {
	cursor: zoom-in;
	border: solid #517100 2px;
	border-radius: 10px;
}

.lorelabel {
	margin: auto;
	background-color: #517100;
	border: solid #517100 3px;
	border-radius: 10px;
	width: 350px;
	font-size: 1em;
}

.cap {
	font-size: .80em;
	text-transform: uppercase;
	font-family: serif;
	font-weight: bold;
}