@charset "utf-8";
/* CSS Document */

/*                          GRID                          */

.gridcont{
	display: grid;
	width: 100%;
	grid-template-areas:
		'gridhead'
		'gridmain'
		'gridfoot';
	gap: 5px;
	padding: 5px 0px 0px 0px;
}

.gridhead {
	grid-area: gridhead;
}

.gridmain {
	grid-area: gridmain;
	min-width: 600px;
}

.gridfoot {
	grid-area: gridfoot;
}

.land {
	text-transform: uppercase;
	font-weight: bold;
}

.region {
	margin: 0px 0px 0px 20px;
	font-size: .80em;
}

.region a {
	text-transform: none;
}

.subregion {
	margin: 0px 0px 0px 40px;
	font-size: .80em;
}

.subregion a {
	text-transform: none;
	color: #535c3b;
}

.maphead {
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 2em;
	margin-bottom: 0px;
	font-family: ferrum;
	color: #3d5400;
}

.maplist {
	margin-left: 10px;
}

.cs {
	color: darkgray;
	font-size: .80em;
}

.cs:after {
	content: " (Coming Soon)";
}

.region.cs {
	color: darkgray;
	font-size: .80em;
}

.region.cs:after {
	content: " (Coming Soon)";
}

.k {
	font-size: 12px;
	font-family: serif;
	font-weight: bold;
}

.nonlink {
	color: gray;
}

.nonlink:hover {
	color: gray;
	cursor: not-allowed;
}