@charset "utf-8";

.note {
    text-align: center;
    text-transform: uppercase;
    font-size: .75em;
    font-weight: bold;
    font-family: serif;
    padding: 0px;
    margin: -30px auto 0px auto;
	width: 25%;
}

.note2 {
    text-align: center;
    text-transform: uppercase;
    font-size: .75em;
    font-weight: bold;
    font-family: serif;
    padding: 0px;
    margin: -30px auto 0px auto;
	width: 35%;
}

.note2 p {
	text-align: center;
}

.note p {
	text-align: center;
}

.nonlink {
	color: gray;
}

.nonlink:hover {
	color: gray;
	cursor: not-allowed;
}

.galcont {
    min-width: 750px;
    max-width: 75%;
    margin: 0 auto 0 auto;
    text-align: center;
}

.wide {
    margin: 2px;
    width: 200px;
    height: 140px;
    border-radius: 10px;
    display: inline-block;
	vertical-align: middle;
	border: ridge #728346 4px;
}

.widenon {
	margin: 2px;
    width: 200px;
    height: 140px;
    border-radius: 10px;
    display: inline-block;
	vertical-align: middle;
	opacity: 0.75;
}

.tall {
    margin: 2px;
    width: 150px;
    height: 200px;
    border-radius: 10px;
    display: inline-block;
	vertical-align: middle;
	border: ridge #728346 4px;
}

.square {
	margin: 2px;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    display: inline-block;
	vertical-align: middle;
	border: ridge #728346 4px;
}

.tsq {
	margin: 2px;
    width: 140px;
    height: 200px;
    border-radius: 10px;
    display: inline-block;
	vertical-align: middle;
	border: ridge #728346 4px;
}

.tsq2 {
	margin: 2px;
    width: 170px;
    height: 200px;
    border-radius: 10px;
    display: inline-block;
	vertical-align: middle;
	border: ridge #728346 4px;
}

.thumbcon {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}

.thumblbl {
	color: white;
	text-transform: uppercase;
	position: relative;
	top: -10px;
	padding: 0px 5px 0px 5px;
	background-color: rgba(55, 77, 0, 1);
	border-radius: 10px;
	display: inline-block;
	border: solid 2px black;
}

.thumblbl2 {
	color: #DCDCDC;
	text-transform: uppercase;
	position: relative;
	top: -10px;
	padding: 0px 5px 0px 5px;
	background-color: rgba(130, 130, 130, 1);
	border-radius: 10px;
	display: inline-block;
	border: solid 2px #828282;
}


.crestcon {
	width: 120px;
    display: inline-block;
	vertical-align: middle;
	text-align: center;
}

.crest {
	width: 100px;
    height: 125px;
    vertical-align: middle;
}

.crestlbl {
	color: white;
	position: relative;
	text-transform: uppercase;
	top: 15px;
	padding: 0px 10px 0px 10px;
	background-color: rgba(55, 77, 0, 1);
	border-radius: 10px;
	display: inline-block;
	border: solid 2px black;
}

hr {
	border: outset 2px #728346;
	border-radius: 5px;
	margin-top: 35px;
}