@charset "utf-8";
/* CSS Document */

#slider
{
	overflow: hidden;
	width: 830px;
	margin: auto;
	border: inset #517100 3px;
	border-radius: 10px;
	text-align: center;
}

#slider figure {
	position: relative;
	width: 400%;
	margin: 0px auto 0px auto;
	left: 0px;
	animation: 30s slider infinite;
}

#slider figure img {
	float: left;
	width: 830px;
}

@keyframes slider {
	0% {
		left: 0;
	}
	
	32% {
		left: 0;
	}
	
	33% {
		left: -100%;
	}
	
	65% {
		left: -100%;
	}
	
	66% {
		left: -200%;
	}
	
	99% {
		left: -200%;
	}
	
	100% {
		left: 0;
	}

}